@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');
*{
  box-sizing: border-box;
}
.app{
  width: 100vw;
  /* height: 100vh; */
  background-color: #FB6B6B;
}
.telaInicial{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
h1{
  font: normal 400 36px 'Righteous', cursive;
  color: #FFFFFF;
}
.botaoIniciar{
  background-color: #FFFFFF;
  width: 65.6vw;
  height: 8.09vh;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal 400 18px 'Recursive', sans-serif;
  color: #D70900;
  border-radius: 5px;
  border: 1px solid #D70900;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.15);
}
header{
  width: 68.16vw;
  display: flex;
  gap: 20px;
  margin-top: 6.29vh;
  margin-bottom: 7.64vh;
  justify-content: center;
}
.tela2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pergunta{
  background-color: #FFFFFF;
  width: 80vw;
  height: 9.74vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  font: normal 700 3vh 'Recursive', sans-serif;
  color: #333333;
  border-radius: 5px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.15);
}
.pergunta ion-icon{
  font-size: 5.5vh;
}
.card{
  background-color: #FFFFD5;
  width: 79.73vw;
  height: 19.64vh;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.15);
}
.texto{
  font: normal 400 2.7vh 'Recursive', sans-serif;
  margin-top: 2.70vh;
}
.card img{
  position: absolute;
  bottom: 0.9vh;
  right: 4vw;
}
.face{
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 4vw;
}
.backFace {
  transform: rotateY(180deg);
}
.virar{
  transform: rotateY(180deg);
  transition: all .5s;
  transform-style: preserve-3d;
}
.opcoes{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  padding: 0 4vw;
  margin-bottom: 0.9vh;
}
.opcoes > div{
  width: 22.712vw;
  height: 5.57vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2.5vw;
  bottom: 0;
  border-radius: 5px;
  font: normal 400 12px 'Recursive', sans-serif;
  color: #FFFFFF;
}
.opcoes div:nth-child(1){
  background-color: #FF3030;
}
.opcoes div:nth-child(2){
  background-color: #FF922E;
}
.opcoes div:nth-child(3){
  background-color: #2FBE34;
}
.riscado{
  text-decoration: line-through;
}
.conteudo{
  display: flex;
  flex-direction: column;
  gap: 3.74vh;
  margin-bottom: 14.09vh;
}
footer{
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10.49vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer ion-icon{
  font-size: 5vh;
}
.colorGreen{
  color: #2FBE34;
}
.colorOrange{
  color: #FF922E;
}
.colorRed{
  color: #FF3030;
}

h3{
  font: normal 400 2.5vh 'Recursive', sans-serif;
  color: #333333;
}
